@using IDC.LeadCapture.BLL
@model IDC.LeadCapture.Models.Account.User
@{
    ViewBag.Title = ResourceCache.Localize("DX | Change Password");
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wr style-3">
                        <h3 class="section-title left"><span>@ResourceCache.Localize("Change Password")</span></h3>
                    </div>
                    <p><font color="red">*</font> @ResourceCache.Localize("required_field_msg")</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-body">
                        <div class="form-body">
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "sky-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false)
                                <div class="form-group">
                                    <section>
                                        <label class="label">@ResourceCache.Localize("Current Password") <font color="red">*</font></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            @Html.PasswordFor(m => m.Password, new { @maxlength = "80" })
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">@ResourceCache.Localize("New Password") <font color="red">*</font></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            @Html.PasswordFor(m => m.NewPassword, new { @maxlength = "80" })
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">@ResourceCache.Localize("New Password Confirm") <font color="red">*</font></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            @Html.PasswordFor(m => m.NewPasswordConfirm, new { @maxlength = "80" })
                                        </label>
                                    </section>
                                    <a href="@Url.Action("Index", "Admin")" class="btn btn-icon btn-base fa-chevron-left" style="min-width:150px;padding-right:40px;"><span>@ResourceCache.Localize("navigation_cancel_en")&nbsp;&nbsp;</span></a>&nbsp;&nbsp;
                                    <button class="btn btn-base btn-icon btn-icon-right fa-lock" type="submit" style="min-width:150px;padding-right:40px;">@ResourceCache.Localize("Update Password")</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        $(function () {
            $("#Password").rules("add", { required: true, messages: { required: $("#Validation").attr('passwordMsg') } });
            $("#NewPassword").rules("add", { required: true, messages: { required: $("#Validation").attr('newPasswordMsg') } });
            $("#NewPasswordConfirm").rules("add", {required: true, messages: { required: $("#Validation").attr('newPasswordConfirmMsg') }});
        });
    </script>
}
