@using IDC.LeadCapture.BLL
@{
    ViewBag.Title = ResourceCache.Localize("DX");
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <div class="icon-block icon-block-2">
                        <div class="icon-block-item green">
                            <i class="fa fa-check "></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">@ResourceCache.Localize("reset_email_sent_title")</h4>
                            <p>@ResourceCache.Localize("reset_email_sent_text")
                                <ul class="list-check">
                                    <li class="h5"><i class="fa fa-envelope-o"></i><strong>@ResourceCache.Localize("Email:") </strong>@TempData["Email"]</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-md-12">
                    <hr>
                    <a href="@Url.Action("ManageUsers", "Admin")" class="btn btn-icon btn-base fa-chevron-left"><span>&nbsp;&nbsp;@ResourceCache.Localize("navigation_back_en")&nbsp;&nbsp;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>


