@using IDC.LeadCapture.BLL
@model IDC.LeadCapture.Models.Account.User
@{
    ViewBag.Title = ResourceCache.Localize("DX");
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "sky-form" }))
            {
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wr style-3">
                        <h3 class="section-title left"><span>@ResourceCache.Localize("reset-password-title")</span></h3>
                    </div>
                    <p>@ResourceCache.Localize("reset-password-text")</p>
                    <hr>
                    <p><font color="red">*</font> @ResourceCache.Localize("required_field_msg")</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false)
                        <div class="form-group">
                            <label class="label">@ResourceCache.Localize("Email") <font color="red">*</font></label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                @Html.TextBoxFor(m => m.Email, new { @maxlength = "80" })
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <button class="btn btn-base btn-icon btn-icon-right btn-send" type="submit" style="min-width:150px;padding-right:40px;">@ResourceCache.Localize("navigation_send_en")</button>
                </div>
            </div>
            }
        </div>
    </div>
</section>

@section scripts {
    <script>
        $(function () {
            $("#Email").rules("add", { required: true, email: true, messages: { required: $("#Validation").attr('requiredMsg'), email: $("#Validation").attr('emailMsg') } });
        });
    </script>
}