@using IDC.LeadCapture.BLL
@model IDC.LeadCapture.Models.Account.Login
@{
    ViewBag.Title = ResourceCache.Localize("DX");
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    bool flag = Convert.ToBoolean(TempData["EmailSent"]);
}

<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <div class="icon-block icon-block-2">
                    @if(flag)
                    {
                        <div class="icon-block-item green">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4>@ResourceCache.Localize("Email Sent")</h4>
                            <p>@ResourceCache.Localize("reset_password_text1")</p>
                        </div>
                    }
                    else
                    {
                        <div class="icon-block-item red">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4>@ResourceCache.Localize("Invalid Email")</h4>
                            <p>@ResourceCache.Localize("reset_password_text2")</p>
                        </div>
                    }
                    </div>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-md-12">
                    <hr>
                    <a href="@Url.Action("ResetPassword", "Account")" class="btn btn-icon btn-base fa-chevron-left"><span>&nbsp;&nbsp;@ResourceCache.Localize("navigation_back_en")&nbsp;&nbsp;</span></a>&nbsp;&nbsp;
                    <a href="@Url.Action("Login", "Account")" class="btn btn-icon btn-base btn-icon-right fa-sign-in"><span>@ResourceCache.Localize("Sign In")</span></a>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
</section>
