@using IDC.LeadCapture.Models.Assessment
@using IDC.LeadCapture.BLL
@model Question
@{
    // complete items list
    var qiList = QuestionCache.GetQuestion(Model.OrderNo).Answers;

    foreach (var item in qiList)
    {
        if (!Model.Answers.Any(x => x.AnswerChoiceId == item.AnswerChoiceId)) { Model.Answers.Add(item); }
    }
}
            <section>
                <div class="row">
                    <div class="col-md-12 form-group">
                    @foreach (var item in Model.Answers.OrderBy(x => x.OrderNo))
                    {
                        if (item.Type != AnswerType.Checkbox) { continue; }
                        <label class="checkbox">
                            <input id="@item.Name" name="@item.Name" type="checkbox" value="true" @(item.Selected ? "checked" : "") /><i></i>@item.Text
                            <input name="@item.Name" type="hidden" value="false" />
                        </label>
                    }
                    </div>
                </div>
            </section>
