@using IDC.LeadCapture.Models.Assessment
@using IDC.LeadCapture.BLL
@model Question
@{
    long selectedChoiceId = 0;

    if (Model.Answers.Count(x => x.Type == AnswerType.DropDown) <= 1)
    {
        // complete items list
        var selectedItem = Model.Answers.FirstOrDefault(x => x.Type == AnswerType.DropDown);
        if (selectedItem != null) { selectedChoiceId = selectedItem.AnswerChoiceId; }

        var qiList = QuestionCache.GetQuestion(Model.OrderNo).Answers;

        foreach (var item in qiList)
        {
            if (item.AnswerChoiceId != selectedChoiceId) { Model.Answers.Add(item); }
        }
    }

    var items = new List<SelectListItem>();
    foreach (var item in Model.Answers.OrderBy(x => x.OrderNo))
    {
        if (item.Type == AnswerType.DropDown)
        {
            items.Add(new SelectListItem { 
                Value = item.AnswerChoiceId.ToString(),
                Text = item.Text,
                Selected = item.AnswerChoiceId == selectedChoiceId
            });
        }
    }

    var altItem = Model.AltAnswer;
}
            @if (altItem != null && altItem.Type == AnswerType.Text)
            {
                long refChoiceId = 0;
                var refItem = Model.Answers.FirstOrDefault(x => x.AltQuestionItemId == altItem.QuestionItemId);
                if (refItem != null) { refChoiceId = refItem.AnswerChoiceId; }

                <section class="col col-md-6">
                    <label class="select">
                        @Html.DropDownList(Model.Name, items, Model.AltText,
                        new
                        {
                            @class = "form-control",
                            @style = "min-height:40px;",
                            @onchange = "altDropDownHandler(this, " + refChoiceId + ", " + altItem.QuestionItemId + ");",
                            @data_fv_notempty = "true"
                        })
                        <i></i>
                    </label>
                    <div class="@(altItem.QuestionItemId)" style="@(selectedChoiceId == refChoiceId ? "width:60%;" : "display:none; width:60%;")">
                        <label class="input">
                            @Html.TextBox(altItem.Name, altItem.Value, new { @class = "form-control", @data_fv_notempty = "true", @maxlength = "80" })
                        </label>
                    </div>
                </section>
            }
            else
            {
                <section class="col col-md-6">
                    <label class="select">
                        @Html.DropDownList(Model.Name, items, Model.AltText, new { @class = "form-control", @data_fv_notempty = "true", @style = "min-height:40px;" })
                        <i></i>
                    </label>
                </section>
            }
