@using IDC.LeadCapture.Models.Assessment
@model Question
@{ string icon = ViewData["icon"] != null ? ViewData["icon"].ToString() : ""; }
            <section>
                <div class="row">
                    <div class="col-md-12 form-group">
                        @foreach (var item in Model.Answers)
                        {
                            if (item.Type != AnswerType.Text) { continue; }                  
                            <label class="input">
                                <i class="@icon"></i>
                                <input type="text" name="@item.Name" placeholder="@Model.AltText" class="form-control bg-white" @Html.Raw(Model.ValidationText) maxlength="80" value="@item.Value">
                            </label>
                            break;
                        }
                    </div>
                </div>
            </section>