@using System.Globalization
@using IDC.LeadCapture.BLL
@model List<IDC.LeadCapture.Models.Account.User>
@{
    ViewBag.Title = ResourceCache.Localize("DX LG | Manage Users");
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wr style-3">
                        <h3 class="section-title left"><span>@ResourceCache.Localize("Manage Users")</span></h3>
                    </div>
                    <div id="toolbar" class="btn-group">
                        <a href="@Url.Action("AddUser", "Account")" class="btn btn-default"><i class="fa fa-plus-square"></i>@ResourceCache.Localize("Add New")</a>
                        @if (ViewBag.IncludeDeleted != null && ViewBag.IncludeDeleted == "True")
                        {
                            <a href="@Url.Action("ManageUsers", "Admin")" type=" button" class="btn btn-default"><i class="fa fa-folder"></i>@ResourceCache.Localize("Hide Deleted")</a>
                        }
                        else
                        {
                            <a href="@Url.Action("ManageUsers", "Admin", new { includeDeleted = "true" })" type=" button" class="btn btn-default"><i class="fa fa-folder-open"></i>@ResourceCache.Localize("View Deleted")</a>
                        }
                    </div>
                    <table data-toggle="table"
                           data-search="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-sortable="true"
                           data-minimum-count-columns="4"
                           data-show-export="true"
                           data-detail-view="true"
                           data-pagination="true"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-toolbar="#toolbar"
                           @*data-locale="@CultureInfo.CurrentUICulture.TextInfo.CultureName"*@>
                        <thead>
                            <tr>
                                <th>@ResourceCache.Localize("ID")</th>
                                <th>@ResourceCache.Localize("Account Type")</th>
                                <th>@ResourceCache.Localize("First Name")</th>
                                <th>@ResourceCache.Localize("Last Name")</th>
                                <th>@ResourceCache.Localize("Email")</th>
                                <th>@ResourceCache.Localize("Status")</th>
                                <th>@ResourceCache.Localize("Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@ResourceCache.Localize(item.AccountType.ToString())</td>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@ResourceCache.Localize(item.Status.ToString())</td>
                                    <td>
                                        <a href="@Url.Action("EditUser", "Account", new { id = item.Id })">@ResourceCache.Localize("Edit")</a>
                                        &nbsp;&#8226;&nbsp;
                                        @if (!item.Unconfirmed)
                                        {
                                        if (item.Active)
                                        {
                                        <a href="@Url.Action("SuspendUser", "Account", new { id = item.Id })">@ResourceCache.Localize("Suspend")</a>
                                        }
                                        else if (item.Suspended)
                                        {
                                        <a href="@Url.Action("UnsuspendUser", "Account", new { id = item.Id })">@ResourceCache.Localize("Unsuspend")</a>
                                        }
                                        @:&nbsp;&#8226;&nbsp;
                                        }
                                        <a href="#" onclick="resetPassword(event, '@item.Id')">@ResourceCache.Localize("Reset Password")</a>
                                        &nbsp;&#8226;&nbsp;
                                        @if (item.Deleted)
                                        {
                                            <a href="@Url.Action("RestoreUser", "Account", new { id = item.Id })">@ResourceCache.Localize("Restore")</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("DeleteUser", "Account", new { id = item.Id })">@ResourceCache.Localize("Delete")</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
<script>

    function resetPassword(event, userId) {
        var url = '@Url.Action("_requestResetPassword", "Account", new { userId = "id" })';
        url = url.replace('id', userId);

        var token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: url,
            type: "POST",
            data: { __RequestVerificationToken: token },
            success: function (data) {
                if (data["result"] == 'success') {
                    window.location = '@Url.Action("RequestResetPasswordConfirmation", "Account")';
                }
                else {
                    var msg = data["message"];
                    showError(msg);
                }
            },
            error: function (data) {
                showError();
            }
        });

        return false;
    }

</script>
}
